#wrapper {
  height: 100vh;
  background-color: #E6E6FA;
  position: absolute;
}
#quote-box {
  margin-right: 50vw;
  margin-left: 35vw;
  margin-top: 40vh;
  padding-right: 10px;
  padding-left: 10px;
  width: 30vw;
  min-height: 30vh;
  background-color: #D7CCC8;
}
#text {
  text-align: center;
  font-size: 40px;
}
#quotmark {
  padding-right: 10px;
  font-size: 36px;
  }
#author {
  text-align: center;
  font-size: 18px;
}
#tweet-quote {
  color: white;
}
button {
  padding-bottom: 0;
  padding-top: 90vh;
}
